.search-room{display:grid;margin-top:30px;gap:1em;justify-items:center}@media screen and (min-width: 900px){.search-room{grid-template-columns:1fr 3fr;justify-items:stretch}}.search-room__header{grid-column:1/-1}.search-room__pagination{grid-column:1/-1;justify-self:center}.search-room__sidebar{min-width:266px}.search-room__sidebar-item-title{margin-bottom:16px;color:#1f2041}.search-room__sidebar-item{margin-bottom:30px}.search-room__content{display:grid;grid-template-columns:repeat(auto-fill, minmax(272px, 1fr));row-gap:2em;column-gap:1em}.search-room__room-card{justify-self:center}.search-room__slider{position:relative;top:-16px;font-size:.75rem;color:rgba(31,32,65,0.5);font-family:Montserrat;line-height:1.5rem}.search-room--index-100{position:relative;z-index:100}

.main-layout__footer{position:absolute;left:0;right:0}

.header{width:100%;position:relative;box-shadow:0px 10px 20px rgba(31,32,65,0.05)}.header__account{margin-left:60px;color:rgba(31,32,65,0.5)}@media (max-width: 992px){.header__account{display:none}}.header__container{display:flex;align-items:center;max-width:1200px;margin:0 auto;padding:0 20px;height:70px}@media (max-width: 992px){.header__container{justify-content:center}}.header__logo{margin-right:auto}.header__menu-toggle{display:none}@media (max-width: 767px){.header__menu-toggle{display:block}}.header__enter-toggle{display:none;padding:0 10px}@media (max-width: 992px){.header__enter-toggle{display:block}}.header__enter-panel{padding-left:20px;display:flex;justify-content:space-between}@media (max-width: 992px){.header__enter-panel{display:none}}.header__enter-button{margin-right:22px}.header__menu{min-width:352px}@media (max-width: 767px){.header__menu{position:absolute;top:0;bottom:0}}

.menu{display:none;flex-direction:column;color:rgba(31,32,65,0.5);position:relative;border:1px solid rgba(31,32,65,0.5);background-color:#fff;z-index:100}.menu__item{text-align:center;line-height:2.5rem}.menu__item--current{font-family:Montserrat, Arial, sans-serif;font-weight:bold;cursor:default}.menu__item:hover{background-color:rgba(31,32,65,0.05)}.menu a{text-decoration:none;color:rgba(31,32,65,0.5);display:block;height:100%}.menu__submenu{position:relative}.menu__submenu::after{position:absolute;content:"\e313";font-family:"Material Icons";font-size:1.5rem;width:24px;height:21px;line-height:2.5rem;top:0;right:10px}.menu--open{display:flex}.submenu{display:none;flex-direction:column;padding:10px;background-color:rgba(31,32,65,0.1)}.submenu--open{display:flex}@media screen and (min-width: 767px){.menu{display:flex;flex-direction:row;justify-content:space-between;height:34px;border:none}.menu__item{cursor:pointer;padding:0 10px;border:none;line-height:34px;white-space:nowrap}.menu__item:last-child{margin-right:-10px}.menu__submenu{position:relative;padding-right:36px}.menu__submenu::after{content:"\e313";font-family:"Material Icons";font-size:1.5rem;width:24px;height:36px;line-height:36px;right:12px}.submenu{position:absolute;display:none;top:40px;left:-20px;border:1px solid rgba(0,0,0,0.12);border-radius:4px;background-color:#fff}.submenu--open{display:flex}.submenu__item{padding:10px 40px;text-align:center}.submenu__item:hover{background-color:rgba(31,32,65,0.05)}}

.rounded-button{display:inline-block;position:relative;top:2px;font-family:Montserrat, Arial, sans-serif;color:#bc9cff;border-radius:22px;border:none;padding:0 18px;text-transform:uppercase;font-size:0.75rem;height:30px;line-height:30px;font-weight:bold;cursor:pointer;user-select:none;background-color:#fff}.rounded-button::after{display:inherit;content:"";position:absolute;top:-2px;bottom:-2px;left:-2px;right:-2px;z-index:-1;border-radius:22px;background-image:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%)}.rounded-button--disabled::after{opacity:0.5}.rounded-button--disabled{cursor:auto}

.button{display:inline-block;color:#fff;background-image:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);border-radius:22px;padding:0 20px;line-height:34px;text-transform:uppercase;font-size:0.75rem;font-weight:bold;cursor:pointer;user-select:none;border:none;height:34px}.button--disabled{opacity:0.5;cursor:auto}

.icon-button{background:none;border:none;cursor:pointer;font-size:42px;line-height:42px;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);font-family:"Material Icons";font-weight:normal;font-style:normal;-webkit-background-clip:text;-webkit-text-fill-color:transparent}

.footer{width:100%;background-color:#fff;line-height:1.5rem;padding-top:100px}.footer__text{margin-top:17px}.footer__container{display:flex;margin:0 auto 84px}@media (max-width: 992px){.footer__container{justify-content:space-around}}@media (max-width: 767px){.footer__container{flex-direction:column;align-items:center;height:auto}}.footer__block{width:260px}@media (max-width: 992px){.footer__block{padding-bottom:30px}.footer__block:last-child{padding-bottom:0}}.footer__block__header{margin-bottom:22px;margin-top:2px}.footer__nav-container{display:flex;margin-left:40px}@media (max-width: 992px){.footer__nav-container{display:none}}.footer__nav{width:200px}.footer__link{display:block;margin:20px 0;line-height:1.0625rem}.footer__line{border-top:1px solid rgba(31,32,65,0.25);padding:10px 0}.footer__copy{display:flex;justify-content:space-between;align-items:baseline}@media (max-width: 767px){.footer__copy{flex-direction:column-reverse;align-items:center}}

.site-logo{background-image:url("../img/logo-toxin.png");background-repeat:no-repeat;width:106px;height:40px}

.subscription{position:relative}.subscription__button{position:absolute;display:block;font-family:"Material Icons";top:0;right:0;font-size:1.5rem;line-height:1.96rem;text-align:center;width:2em;height:2em;color:#bc9cff;background:transparent;border:none;cursor:pointer}.subscription input{padding-right:40px}

.text-field{color:rgba(31,32,65,0.25);border:1px solid rgba(31,32,65,0.25);border-radius:4px;font-size:0.875rem;line-height:1.125rem;padding:13px 15px 13px 15px;width:100%}.text-field::placeholder{color:rgba(31,32,65,0.25)}.text-field:hover,.text-field:focus,.text-field--focus{border-color:rgba(31,32,65,0.5);color:rgba(31,32,65,0.75)}.text-field:hover::placeholder,.text-field:focus::placeholder,.text-field--focus::placeholder{color:rgba(31,32,65,0.75)}

.socials{display:flex}.socials__button{border:none;font-family:"Font Awesome";width:28px;height:24px;font-size:1.5rem;cursor:pointer;margin:0 8px;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent}.socials__button--twitter::before{content:"\f099"}.socials__button--fb::before{content:"\f082"}.socials__button--instagram::before{content:"\f16d"}

.image-card{width:271px;background-color:#fff;box-shadow:0px 10px 20px rgba(31,32,65,0.05);border-radius:4px;padding-bottom:20px;overflow:hidden}.image-card__body{display:grid;grid-template-columns:1fr 1fr;grid-template-rows:1fr 1fr;margin:16px 20px 0;align-items:baseline}.image-card__item{padding:0 0 10px}.image-card__item h2{display:inline}.image-card__item--right{text-align:right}.image-card__item--border{border-bottom:1px solid rgba(31,32,65,0.1)}.image-card__item--rating{position:relative;top:6px}.image-card__s{font-size:.75rem}

.gallery__image{position:relative}.gallery__arrow{position:absolute;top:0;width:44px;height:97%;font-size:1.5rem;display:flex;flex-direction:column;justify-content:center;text-align:center;color:#fff;cursor:pointer;background:linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 99.99%, rgba(255,255,255,0) 100%)}.gallery__left-arrow{left:0}.gallery__right-arrow{right:0;transform:matrix(-1, 0, 0, 1, 0, 0)}.gallery__point-container{display:flex;width:42px;justify-content:space-between;position:absolute;right:15px;bottom:20px}.gallery__point{width:7.5px;height:7.5px;border-radius:50%;border:1px solid #fff}.gallery__point--fill{background-color:#fff}

.rating{display:flex;user-select:none}.rating__icon{font-family:"Material Icons";font-weight:normal;font-style:normal;font-size:1.5rem;display:inline-block;line-height:1rem;text-transform:none;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent}

.apartment-info--main{display:inline}.apartment-info--lux{font-family:Montserrat, Arial, sans-serif;font-weight:bold;font-size:.75rem;color:#bc9cff;text-transform:uppercase;padding-left:1px}.apartment-info--bold{font-family:Quicksand, Arial, sans-serif;font-weight:bold}

.price{color:rgba(31,32,65,0.5)}.price--bold{font-family:Montserrat, Arial, sans-serif;font-weight:bold}.price--small{font-size:.75rem}

.pagination{font-size:0.75rem}.pagination__item{display:inline-block;width:40px;height:40px;line-height:2.5rem;text-align:center;vertical-align:bottom;text-decoration:none;color:rgba(31,32,65,0.5)}.pagination__item--active{border-radius:50%;background-image:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);color:#fff}.pagination__info{font-size:0.875rem;padding:10px 0 0 6px}.pagination__next{width:40px;height:40px;line-height:2.5rem;text-align:center;vertical-align:bottom;border-radius:50%;background-image:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);border:none;cursor:pointer}.pagination__next::after{content:"\e5c8";font-family:"Material Icons";color:#fff;font-size:1.5rem}

.configuration-dropdown{position:relative}.configuration-dropdown__label{text-transform:uppercase;font-family:Montserrat, Arial, sans-serif;font-weight:bold;font-size:0.75rem;color:#1f2041}.configuration-dropdown__header{position:relative;color:rgba(31,32,65,0.75);line-height:1.715em;padding:0.57em 1.6rem 0.715em 1em;border:1px solid rgba(31,32,65,0.25);border-radius:0.14em 0.14em 0 0;user-select:none;cursor:pointer}.configuration-dropdown__header::after{content:"\e313";font-family:"Material Icons";font-size:1.5rem;position:absolute;right:9px;top:10px;color:rgba(31,32,65,0.75)}.configuration-dropdown__content{display:block;position:absolute;background-color:#fff;left:0;right:0;border:1px solid rgba(31,32,65,0.25);border-radius:0 0 0.14em 0.14em;border-top:none;padding-bottom:6px}.configuration-dropdown__content--hide{display:none}.configuration-dropdown__footer-button{visibility:visible}.configuration-dropdown__footer-button--hide{visibility:hidden}.configuration-dropdown__item{display:flex;justify-content:space-between;font-family:Montserrat, Arial, sans-serif;font-weight:bold;text-transform:uppercase;font-size:0.75rem;color:#1f2041;vertical-align:middle;padding:0 0 0 1.2em}.configuration-dropdown__option{padding-top:10px}.configuration-dropdown__controlls{display:flex;width:100px;justify-content:space-between;line-height:0;padding-top:6px;padding-right:6px}.configuration-dropdown__counter{padding-top:1.2em}.configuration-dropdown__button{width:1.5em;height:1.5em;border:1px solid rgba(31,32,65,0.5);font-family:Montserrat, Arial, sans-serif;font-weight:normal;color:rgba(31,32,65,0.5);border-radius:50%;text-align:center;font-size:1.285rem;line-height:1.875rem;user-select:none;cursor:pointer}.configuration-dropdown__button--disabled{cursor:default;border-color:rgba(31,32,65,0.25);color:rgba(31,32,65,0.25)}.configuration-dropdown__footer{display:flex;justify-content:space-between;height:40px;padding:16px 7px 0}

.simple-button{display:inline-block;font-size:0.75rem;text-transform:uppercase;font-weight:bold;color:#bc9cff;cursor:pointer}.simple-button--disabled{cursor:default;color:rgba(31,32,65,0.5)}

.checkbox{display:block;position:relative;padding-left:2.2em;padding-bottom:0.7em;cursor:pointer;user-select:none}.checkbox--bold{font-family:Montserrat, Arial, sans-serif;font-weight:bold}.checkbox__description{font-family:Montserrat, Arial, sans-serif;font-size:0.75rem;line-height:1.2em;padding-top:0.65em;color:rgba(31,32,65,0.5)}.checkbox__input{width:0;height:0;opacity:0}.checkbox__mark{position:absolute;top:0;left:0;width:1.4em;height:1.4em;border:1px solid rgba(31,32,65,0.25);border-radius:0.25em}.checkbox__mark:after{content:"";display:none;position:absolute;top:0.36em;left:0.46em;width:0.375em;height:0.5em;border-width:0 2px 2px 0;border-style:solid;border-image:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);border-image-slice:1;transform:rotate(45deg)}.checkbox__input:checked ~ .checkbox__mark{border-color:#bc9cff}.checkbox__input:checked ~ .checkbox__mark:after{display:block}

.expander__header{text-transform:uppercase;font-family:Montserrat, Arial, sans-serif;font-weight:bold;font-size:0.75rem;padding-bottom:16px;color:#1f2041;cursor:pointer;user-select:none}.expander__header::after{content:"";display:inline-block;position:relative;top:-3px;margin-left:48px;width:8px;height:8px;border-color:rgba(31,32,65,0.5);border-style:solid;border-width:0 0 2px 2px;transform:rotate(-45deg)}.expander__header--open::after{transform:rotate(135deg);top:3px}.expander__list{display:block}.expander__list--hide{display:none}

.range-dates{display:flex;justify-content:space-between}.range-dates__label{width:100%;font-family:Montserrat, Arial, sans-serif;font-weight:bold;font-size:.75rem;line-height:.9375rem;text-transform:uppercase;color:#1f2041}.range-dates__label--small{width:150px}.range-dates__wrapper{display:block;position:relative;padding-top:6px}.range-dates__wrapper::after{position:absolute;font-family:"Material Icons";font-size:1.5rem;content:"\e313";text-align:center;line-height:3.625rem;color:rgba(31,32,65,0.5);top:0;right:0;width:44px;height:44px}.range-dates__date-dropdown{color:rgba(31,32,65,0.25);border:1px solid rgba(31,32,65,0.25);border-radius:4px;font-size:0.875rem;line-height:1.125rem;padding-left:15px;width:100%;height:44px}.range-dates__date-dropdown::placeholder{color:rgba(31,32,65,0.25)}.range-dates__date-dropdown:hover,.range-dates__date-dropdown:focus{border-color:rgba(31,32,65,0.5);color:rgba(31,32,65,0.75)}.range-dates__date-dropdown:hover::placeholder,.range-dates__date-dropdown:focus::placeholder{color:rgba(31,32,65,0.75)}

/**
Ion.RangeSlider, 2.3.0
© Denis Ineshin, 2010 - 2018, IonDen.com
Build date: 2018-12-11 23:23:51
*/
.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}
.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}
.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}
.irs-handle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: default;
  z-index: 1;
}
.irs-handle.type_last {
  z-index: 2;
}
.irs-min,
.irs-max {
  position: absolute;
  display: block;
  cursor: default;
}
.irs-min {
  left: 0;
}
.irs-max {
  right: 0;
}
.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}
.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.irs-with-grid .irs-grid {
  display: block;
}
.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}
.irs-grid-pol.small {
  height: 4px;
}
.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}
.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}
.lt-ie9 .irs-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed;
}
.irs-disabled {
  opacity: 0.4;
}
.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}
.irs--flat {
  height: 40px;
}
.irs--flat.irs-with-grid {
  height: 60px;
}
.irs--flat .irs-line {
  top: 25px;
  height: 12px;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  top: 25px;
  height: 12px;
  background-color: #ed5565;
}
.irs--flat .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--flat .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}
.irs--flat .irs-handle {
  top: 22px;
  width: 16px;
  height: 18px;
  background-color: transparent;
}
.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background-color: #da4453;
}
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #a43540;
}
.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: white;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #ed5565;
  border-radius: 4px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}
.irs--flat .irs-grid-pol {
  background-color: #e1e4e9;
}
.irs--flat .irs-grid-text {
  color: #999;
}
.irs--big {
  height: 55px;
}
.irs--big.irs-with-grid {
  height: 70px;
}
.irs--big .irs-line {
  top: 33px;
  height: 12px;
  background-color: white;
  background: linear-gradient(to bottom, #ddd -50%, white 150%);
  border: 1px solid #ccc;
  border-radius: 12px;
}
.irs--big .irs-bar {
  top: 33px;
  height: 12px;
  background-color: #92bce0;
  border: 1px solid #428bca;
  background: linear-gradient(to bottom, #ffffff 0%, #428bca 30%, #b9d4ec 100%);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
}
.irs--big .irs-bar--single {
  border-radius: 12px 0 0 12px;
}
.irs--big .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: rgba(66, 139, 202, 0.5);
}
.irs--big .irs-handle {
  top: 25px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #cbcfd5;
  background: linear-gradient(to bottom, white 0%, #B4B9BE 30%, white 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 3px 1px white;
  border-radius: 30px;
}
.irs--big .irs-handle.state_hover,
.irs--big .irs-handle:hover {
  border-color: rgba(0, 0, 0, 0.45);
  background-color: #939ba7;
  background: linear-gradient(to bottom, white 0%, #919BA5 30%, white 100%);
}
.irs--big .irs-min,
.irs--big .irs-max {
  top: 0;
  padding: 1px 5px;
  color: white;
  text-shadow: none;
  background-color: #9f9f9f;
  border-radius: 3px;
}
.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
  color: white;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #428bca;
  background: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  border-radius: 3px;
}
.irs--big .irs-grid-pol {
  background-color: #428bca;
}
.irs--big .irs-grid-text {
  color: #428bca;
}
.irs--modern {
  height: 55px;
}
.irs--modern.irs-with-grid {
  height: 55px;
}
.irs--modern .irs-line {
  top: 25px;
  height: 5px;
  background-color: #d1d6e0;
  background: linear-gradient(to bottom, #e0e4ea 0%, #d1d6e0 100%);
  border: 1px solid #a3adc1;
  border-bottom-width: 0;
  border-radius: 5px;
}
.irs--modern .irs-bar {
  top: 25px;
  height: 5px;
  background: #20b426;
  background: linear-gradient(to bottom, #20b426 0%, #18891d 100%);
}
.irs--modern .irs-bar--single {
  border-radius: 5px 0 0 5px;
}
.irs--modern .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(209, 214, 224, 0.5);
}
.irs--modern .irs-handle {
  top: 37px;
  width: 12px;
  height: 13px;
  border: 1px solid #a3adc1;
  border-top-width: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
}
.irs--modern .irs-handle > i:nth-child(1) {
  position: absolute;
  display: block;
  top: -4px;
  left: 1px;
  width: 6px;
  height: 6px;
  border: 1px solid #a3adc1;
  background: white;
  transform: rotate(45deg);
}
.irs--modern .irs-handle > i:nth-child(2) {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 10px;
  height: 12px;
  background: #e9e6e6;
  background: linear-gradient(to bottom, white 0%, #e9e6e6 100%);
  border-radius: 0 0 3px 3px;
}
.irs--modern .irs-handle > i:nth-child(3) {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 5px;
  border-left: 1px solid #a3adc1;
  border-right: 1px solid #a3adc1;
}
.irs--modern .irs-handle.state_hover,
.irs--modern .irs-handle:hover {
  border-color: #7685a2;
  background: #c3c7cd;
  background: linear-gradient(to bottom, #ffffff 0%, #919ba5 30%, #ffffff 100%);
}
.irs--modern .irs-handle.state_hover > i:nth-child(1),
.irs--modern .irs-handle:hover > i:nth-child(1) {
  border-color: #7685a2;
}
.irs--modern .irs-handle.state_hover > i:nth-child(3),
.irs--modern .irs-handle:hover > i:nth-child(3) {
  border-color: #48536a;
}
.irs--modern .irs-min,
.irs--modern .irs-max {
  top: 0;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  color: white;
  background-color: #d1d6e0;
  border-radius: 5px;
}
.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single {
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #20b426;
  color: white;
  border-radius: 5px;
}
.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #20b426;
}
.irs--modern .irs-grid {
  height: 25px;
}
.irs--modern .irs-grid-pol {
  background-color: #dedede;
}
.irs--modern .irs-grid-text {
  color: silver;
  font-size: 13px;
}
.irs--sharp {
  height: 50px;
  font-size: 12px;
  line-height: 1;
}
.irs--sharp.irs-with-grid {
  height: 57px;
}
.irs--sharp .irs-line {
  top: 30px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}
.irs--sharp .irs-bar {
  top: 30px;
  height: 2px;
  background-color: #ee22fa;
}
.irs--sharp .irs-bar--single {
  border-radius: 2px 0 0 2px;
}
.irs--sharp .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(0, 0, 0, 0.5);
}
.irs--sharp .irs-handle {
  top: 25px;
  width: 10px;
  height: 10px;
  background-color: #a804b2;
}
.irs--sharp .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #a804b2;
}
.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
  background-color: black;
}
.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
  border-top-color: black;
}
.irs--sharp .irs-min,
.irs--sharp .irs-max {
  color: white;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 4px;
  opacity: 0.4;
  background-color: #a804b2;
  border-radius: 2px;
}
.irs--sharp .irs-from,
.irs--sharp .irs-to,
.irs--sharp .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 4px;
  background-color: #a804b2;
  color: white;
  border-radius: 2px;
}
.irs--sharp .irs-from:before,
.irs--sharp .irs-to:before,
.irs--sharp .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #a804b2;
}
.irs--sharp .irs-grid {
  height: 25px;
}
.irs--sharp .irs-grid-pol {
  background-color: #dedede;
}
.irs--sharp .irs-grid-text {
  color: silver;
  font-size: 13px;
}
.irs--round {
  height: 50px;
}
.irs--round.irs-with-grid {
  height: 65px;
}
.irs--round .irs-line {
  top: 36px;
  height: 4px;
  background-color: #dee4ec;
  border-radius: 4px;
}
.irs--round .irs-bar {
  top: 36px;
  height: 4px;
  background-color: #006cfa;
}
.irs--round .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--round .irs-shadow {
  height: 4px;
  bottom: 21px;
  background-color: rgba(222, 228, 236, 0.5);
}
.irs--round .irs-handle {
  top: 26px;
  width: 24px;
  height: 24px;
  border: 4px solid #006cfa;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}
.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
  background-color: #f0f6ff;
}
.irs--round .irs-min,
.irs--round .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #006cfa;
  color: white;
  border-radius: 4px;
}
.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #006cfa;
}
.irs--round .irs-grid {
  height: 25px;
}
.irs--round .irs-grid-pol {
  background-color: #dedede;
}
.irs--round .irs-grid-text {
  color: silver;
  font-size: 13px;
}
.irs--square {
  height: 50px;
}
.irs--square.irs-with-grid {
  height: 60px;
}
.irs--square .irs-line {
  top: 31px;
  height: 4px;
  background-color: #dedede;
}
.irs--square .irs-bar {
  top: 31px;
  height: 4px;
  background-color: black;
}
.irs--square .irs-shadow {
  height: 2px;
  bottom: 21px;
  background-color: #dedede;
}
.irs--square .irs-handle {
  top: 25px;
  width: 16px;
  height: 16px;
  border: 3px solid black;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.irs--square .irs-handle.state_hover,
.irs--square .irs-handle:hover {
  background-color: #f0f6ff;
}
.irs--square .irs-min,
.irs--square .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
.irs--square .irs-from,
.irs--square .irs-to,
.irs--square .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: black;
  color: white;
}
.irs--square .irs-grid {
  height: 25px;
}
.irs--square .irs-grid-pol {
  background-color: #dedede;
}
.irs--square .irs-grid-text {
  color: silver;
  font-size: 11px;
}

.irs--flat .irs-min,.irs--flat .irs-max{visibility:hidden}.irs--flat .irs-handle>i:first-child{width:16px;height:16px;top:-2px;left:-1px;border-radius:50%;border:2px solid white;background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%)}.irs--flat .irs-line{height:6px;border:1px solid rgba(31,32,65,0.25);border-radius:3px;background:white}.irs--flat .irs-bar{height:6px;background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);border-radius:3px}.slider__min-max{font-family:Montserrat, Arial, sans-serif;position:relative;top:-20px;font-size:.75rem;line-height:.9375rem;text-transform:uppercase;text-align:right;color:rgba(31,32,65,0.5)}

.calendar{position:absolute;top:40px;visibility:hidden}.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade-{color:#dedede}.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover{color:#c5c5c5}.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade-{color:#dedede}.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade-{color:#fff;background:#a2ddf6}.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade-{background:#8ad5f4}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.1);color:#ccc}.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.2)}.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty{background:none;border:none}.datepickers-container{position:absolute;left:0;top:0}@media print{.datepickers-container{display:none}}.datepicker{background:#fff;border:1px solid #dbdbdb;box-shadow:0 4px 12px rgba(0,0,0,0.15);border-radius:4px;box-sizing:content-box;font-family:Tahoma,sans-serif;font-size:14px;color:#4a4a4a;width:250px;position:absolute;left:-100000px;opacity:0;transition:opacity .3s ease,transform .3s ease,left 0s .3s;z-index:100}.datepicker.-from-top-{transform:translateY(-8px)}.datepicker.-from-right-{transform:translateX(8px)}.datepicker.-from-bottom-{transform:translateY(8px)}.datepicker.-from-left-{transform:translateX(-8px)}.datepicker.active{opacity:1;transform:translate(0);transition:opacity .3s ease,transform .3s ease,left 0s 0s}.datepicker-inline .datepicker{border-color:#d7d7d7;box-shadow:none;position:static;left:auto;right:auto;opacity:1;transform:none}.datepicker-inline .datepicker--pointer{display:none}.datepicker--content{box-sizing:content-box;padding:4px}.-only-timepicker- .datepicker--content{display:none}.datepicker--pointer{position:absolute;background:#fff;border-top:1px solid #dbdbdb;border-right:1px solid #dbdbdb;width:10px;height:10px;z-index:-1}.-top-left- .datepicker--pointer,.-top-center- .datepicker--pointer,.-top-right- .datepicker--pointer{top:calc(100% - 4px);transform:rotate(135deg)}.-right-top- .datepicker--pointer,.-right-center- .datepicker--pointer,.-right-bottom- .datepicker--pointer{right:calc(100% - 4px);transform:rotate(225deg)}.-bottom-left- .datepicker--pointer,.-bottom-center- .datepicker--pointer,.-bottom-right- .datepicker--pointer{bottom:calc(100% - 4px);transform:rotate(315deg)}.-left-top- .datepicker--pointer,.-left-center- .datepicker--pointer,.-left-bottom- .datepicker--pointer{left:calc(100% - 4px);transform:rotate(45deg)}.-top-left- .datepicker--pointer,.-bottom-left- .datepicker--pointer{left:10px}.-top-right- .datepicker--pointer,.-bottom-right- .datepicker--pointer{right:10px}.-top-center- .datepicker--pointer,.-bottom-center- .datepicker--pointer{left:calc(50% - 10px / 2)}.-left-top- .datepicker--pointer,.-right-top- .datepicker--pointer{top:10px}.-left-bottom- .datepicker--pointer,.-right-bottom- .datepicker--pointer{bottom:10px}.-left-center- .datepicker--pointer,.-right-center- .datepicker--pointer{top:calc(50% - 10px / 2)}.datepicker--body{display:none}.datepicker--body.active{display:block}.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade-{color:#dedede}.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover{color:#c5c5c5}.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade-{color:#dedede}.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade-{color:#fff;background:#a2ddf6}.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade-{background:#8ad5f4}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.1);color:#ccc}.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.2)}.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty{background:none;border:none}.datepicker--nav{display:flex;justify-content:space-between;border-bottom:1px solid #efefef;min-height:32px;padding:4px}.-only-timepicker- .datepicker--nav{display:none}.datepicker--nav-title,.datepicker--nav-action{display:flex;cursor:pointer;align-items:center;justify-content:center}.datepicker--nav-action{width:32px;border-radius:4px;user-select:none}.datepicker--nav-action:hover{background:#f0f0f0}.datepicker--nav-action.-disabled-{visibility:hidden}.datepicker--nav-action svg{width:32px;height:32px}.datepicker--nav-action path{fill:none;stroke:#9c9c9c;stroke-width:2px}.datepicker--nav-title{border-radius:4px;padding:0 8px}.datepicker--nav-title i{font-style:normal;color:#9c9c9c;margin-left:5px}.datepicker--nav-title:hover{background:#f0f0f0}.datepicker--nav-title.-disabled-{cursor:default;background:none}.datepicker--buttons{display:flex;padding:4px;border-top:1px solid #efefef}.datepicker--button{color:#4EB5E6;cursor:pointer;border-radius:4px;flex:1;display:inline-flex;justify-content:center;align-items:center;height:32px}.datepicker--button:hover{color:#4a4a4a;background:#f0f0f0}.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade-{color:#dedede}.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover{color:#c5c5c5}.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade-{color:#dedede}.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade-{color:#fff;background:#a2ddf6}.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade-{background:#8ad5f4}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.1);color:#ccc}.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.2)}.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty{background:none;border:none}.datepicker--cells{display:flex;flex-wrap:wrap}.datepicker--cell{border-radius:4px;box-sizing:border-box;cursor:pointer;display:flex;position:relative;align-items:center;justify-content:center;height:32px;z-index:1}.datepicker--cell.-focus-{background:#f0f0f0}.datepicker--cell.-current-{color:#4EB5E6}.datepicker--cell.-current-.-focus-{color:#4a4a4a}.datepicker--cell.-current-.-in-range-{color:#4EB5E6}.datepicker--cell.-in-range-{background:rgba(92,196,239,0.1);color:#4a4a4a;border-radius:0}.datepicker--cell.-in-range-.-focus-{background-color:rgba(92,196,239,0.2)}.datepicker--cell.-disabled-{cursor:default;color:#aeaeae}.datepicker--cell.-disabled-.-focus-{color:#aeaeae}.datepicker--cell.-disabled-.-in-range-{color:#a1a1a1}.datepicker--cell.-disabled-.-current-.-focus-{color:#aeaeae}.datepicker--cell.-range-from-{border:1px solid rgba(92,196,239,0.5);background-color:rgba(92,196,239,0.1);border-radius:4px 0 0 4px}.datepicker--cell.-range-to-{border:1px solid rgba(92,196,239,0.5);background-color:rgba(92,196,239,0.1);border-radius:0 4px 4px 0}.datepicker--cell.-range-from-.-range-to-{border-radius:4px}.datepicker--cell.-selected-{color:#fff;border:none;background:#5cc4ef}.datepicker--cell.-selected-.-current-{color:#fff;background:#5cc4ef}.datepicker--cell.-selected-.-focus-{background:#45bced}.datepicker--cell:empty{cursor:default}.datepicker--days-names{display:flex;flex-wrap:wrap;margin:8px 0 3px}.datepicker--day-name{color:#FF9A19;display:flex;align-items:center;justify-content:center;flex:1;text-align:center;text-transform:uppercase;font-size:.8em}.datepicker--cell-day{width:14.28571%}.datepicker--cells-months{height:170px}.datepicker--cell-month{width:33.33%;height:25%}.datepicker--years{height:170px}.datepicker--cells-years{height:170px}.datepicker--cell-year{width:25%;height:33.33%}.datepicker{font-family:Montserrat, Arial, sans-serif;font-size:0.75rem;padding:10px 20px 16px;width:280px}.datepicker--content{padding:0}.datepicker--btn-container{padding-top:18px;display:flex;justify-content:space-between}.datepicker--cell{width:40px;height:40px;color:rgba(31,32,65,0.5)}.datepicker--cell.-current-{background-image:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);border-radius:50%;color:#fff;font-family:Montserrat, Arial, sans-serif;font-weight:bold}.datepicker--cell.-current-.-focus-{background-image:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);color:#fff}.datepicker--cell.-current-.-in-range-{color:#fff}.datepicker--cell.-focus-{background:none}.datepicker--cell.-selected-{border-radius:50%;background-image:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);font-family:Montserrat, Arial, sans-serif;font-weight:bold}.datepicker--cell.-selected-.-focus-{background-image:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%)}.datepicker--cell.-in-range-{background:linear-gradient(180deg, rgba(189,158,255,0.25) 0%, rgba(139,165,249,0.25) 100%);color:rgba(31,32,65,0.5)}.datepicker--cell.-range-from-{position:relative}.datepicker--cell.-range-from-::after{position:absolute;content:"";width:20px;height:40px;background-image:linear-gradient(180deg, rgba(189,158,255,0.25) 0%, rgba(139,165,249,0.25) 100%);right:0}.datepicker--cell.-range-to-{position:relative}.datepicker--cell.-range-to-::before{position:absolute;content:"";width:20px;height:40px;background-image:linear-gradient(180deg, rgba(189,158,255,0.25) 0%, rgba(139,165,249,0.25) 100%);left:0}.datepicker--day-name{font-family:Montserrat, Arial, sans-serif;font-weight:bold;color:#bc9cff;width:40px;height:40px;text-transform:none}.datepicker--nav{border-bottom:none;padding:6px 0 14px}.datepicker--nav-title,.datepicker--nav-title i{color:#1f2041;font-size:1.19rem;font-family:Quicksand, Arial, sans-serif;font-weight:bold}.datepicker--nav-action{width:auto;color:#bc9cff}.datepicker--pointer{display:none}

