@import "../../scss/sizes.scss";

.room-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 70px;
  row-gap: 30px;
  margin-top: 78px;

  @media screen and (max-width: 1248px) {
    grid-template-columns: 1fr;
  }

  &__info {
    display: grid;
    column-gap: 70px;
    row-gap: 12px;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__room-item {
    max-width: 280px;

    &--bottom {
      margin-top: 24px;
      max-width: 320px;
    }
  }

  &__room-comments {
    margin-top: 0px;
    grid-column: 1/3;
  }

  &__inner {
    padding-bottom: 20px;
  }

  &__text {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &__booking {
    min-width: 380px;
    justify-self: center;
    padding-bottom: 20px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__statistic {
    position: relative;
    top: -14px;
    left: -8px;
  }
}