@import '../../scss/colors.scss';

.rating {
  display: flex;
  user-select: none;

  &__icon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1rem;
    text-transform: none;
    background: $gradient;
  }
}
