@import '../../scss/colors.scss';

.subscription {
    position: relative;

    &::after {
        position: absolute;
        display: block;
        font-family: 'Material Icons';
        top: 0;
        right: 0;
        font-size: 1.5rem;
        line-height: 1.96em;
        text-align: center;
        content: '\e5c8';
        width: 2em;
        height: 2em;
        color: $purple;
    }
}