include ../text-field/text-field

mixin subscription({placeholder, link="/mock-address"})
  .subscription
    form.subscription__form(action=link, method="get")
      +text-field({type: "text", placeholder: placeholder})
      button.subscription__button arrow_forward
