mixin subscription({placeholder})
  .subscription
    form.subscription-form(action="/mock-address", method="get")
      input.text-field(placeholder=placeholder)
      button.subscription__button arrow_forward