include ../text-field/text-field

mixin subscription({placeholder})
  .subscription
    form.subscription-form(action="/mock-address", method="get")
      +text-field({type: "text", placeholder: placeholder})
      button.subscription__button arrow_forward