@import "../../scss/colors.scss";

.simple-button {
  display: inline-block;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $purple;
  cursor: pointer;

  &--disabled {
    cursor: default;
    color: $dark-shade-50;
  }
}
