@import '../../scss/colors.scss';

.type {
  display: flex;

  &__head {
    display: inline-block;
    color: $dark-shade-25;
    text-align: right;
    flex-basis: 60px;
    flex-shrink: 0;

    &_font_large {
      font-size: 1.5rem;
      line-height: 1.2rem;
      margin-top: 5px;
    }

    &_font_medium {
      font-size: 1.1875rem;
      line-height: 1.21rem;
      margin-top: 3px;
    }

    &_font_small {
      font-size: 0.75rem;
      line-height: 0.8rem;
      margin-top: 5px;
    }
  }

  &__body {
    padding-left: 30px;
  }

  &__text {
    font-family: Quicksand, OpenSans, sans-serif;

    &_font_large {
      font-size: 1.5rem;
      line-height: 1.875rem;
      color: $dark-shade-100;
      margin: 0;
    }

    &_font_medium {
      font-size: 1.1875rem;
      line-height: 1.5rem;
      color: $dark-shade-100;
      font-weight: bold;
      margin: 0;
    }

    &_font_small {
      font-family: Montserrat, OpenSans, sans-serif;
      text-transform: uppercase;
      color: $dark-shade-100;
      font-size: .75rem;
      margin: 0;
    }

    &_font_default {
      font-family: Montserrat, OpenSans, sans-serif;
      font-size: .875rem;
      line-height: 1.5rem;
    }
  }
}
