@import "../../scss/colors.scss";

.button {
  display: inline-block;
  color: $white;
  background-image: $gradient;
  border-radius: 22px;
  padding: 8px 20px;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border: none;

  &--disabled {
    opacity: 0.5;
    cursor: auto;
  }
}
