@import '../../scss/colors.scss';

.text-field {
  color: $dark-shade-25;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  font-size: 0.875rem;
  padding: 13px 15px 13px 15px;
  width: 100%;

  &::placeholder {
    color: $dark-shade-25;
  }

  &:hover,
  &:focus,
  &--focused {
    border-color: $dark-shade-50;
    color: $dark-shade-75;

    &::placeholder {
      color: $dark-shade-75;
    }
  }
}
