mixin additions({noBorder, title, desc, icon})
  if noBorder
    - let noBorderClass = 'additions--no-border'
  .additions(class=noBorderClass)
    .additions__title= title
    div= desc
    i.additions__icon.material-icons= icon