mixin additions({noBorder, title, desc, icon})
  - let classes = ["additions"]
  if noBorder
    - classes.push("additions_without-border")
  div(class=classes)
    .additions__title= title
    div.description= desc
    i.additions__icon.material-icons= icon
