mixin additions({noBorder, title, desc, icon})
  - let classes = ["additions"]
  if noBorder
    - classes.push("additions_without-border")
  div(class=classes)
    i.additions__icon.material-icons= icon
    .additions__info
      .additions__title= title
      div.additions__description= desc
