include ../socials/socials

mixin light-footer()
  .wrapper
    footer.light-footer
      .site-logo
      .light-footer__content
        | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam 
        | eget nullam pellentesque aliquam curabitur cociis.
      +socials()