@import '../../scss/sizes.scss';

.landing {
  max-width: 1200px;
  padding: 0 20px;
  
  &__room-config {
    position: absolute;
    top: 140px;
    left: 100px;
    z-index: 1;

    @media (max-width: 767px) {
      left: calc(50% - 380px / 2);
    }
  }
}

