@import '../../scss/sizes.scss';
@import '../../scss/colors.scss';

.landing {
  background-image: url(./images/landing-background.png);
  background-position-x: center;
  background-position-y: -70px;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 70px 20px 20px;
  }
 
  &__text {
    font-family: Montserrat, OpenSans, sans-serif;
    color: $dark-shade-75;
    line-height: 1.5rem;
    width: 297px;
    text-align: right;
    margin-top: 318px;
    align-self: flex-end;
  }
}

