doctype html
html
  head
    title Landing page
  body
    include ../../blocks/header/header.pug 
    +header()
    include ../../blocks/hero/hero.pug
    +hero('Лучшие номера для вашей работы, отдыха и просто вдохновения')
    include ../../blocks/footer/footer.pug 
    +footer()