extends ../landing-layout/landing-layout

block title
  title Landing

block card
  .landing
    .landing__room-config#dd
      include ../../blocks/find-apartments-card/find-apartments-card.pug 
      +apartments()