extends ../main-layout/main-layout

include ../../blocks/find-apartments-card/find-apartments-card

block title
  title Landing

block content
  .landing
    .landing__content
      +apartments()
      .landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения

//- block card
//-   .landing
//-     .landing__room-config
//-       +apartments()