extends ../landing-layout/landing-layout

include ../../blocks/find-apartments-card/find-apartments-card

block title
  title Landing

block card
  .landing
    .landing__room-config
      +apartments()