@import "../../scss/sizes.scss";

.landing {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  
  &__room-config {
    position: absolute;
    top: 140px;
    
    z-index: 1;
    left: auto;

    @media (max-width: 767px) {
      left: calc(50% - 380px / 2);
    }
  }
}

