mixin invoice()
    .invoice
        .invoice__row
          .invoice__service 9 990&#8381; х 4 суток
          div 39 960&#8381;
        .invoice__row
          .invoice__service Сбор за услуги: скидка 2 179&#8381;
            .invoice__info
                span.info i
          div 0&#8381;
        .invoice__row
          .invoice__service Сбор за дополнительные услуги
            .invoice__info
                span.info i
          div 300&#8381;
        .invoice__row.invoice__row--total
          div 
            h2 Итого
          .invoice__line
          div 
            h2 38 081&#8381;