@import '../../scss/colors.scss';

.invoice {
  line-height: 1.5rem;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &--font-large {
      font-family: Quicksand, Arial, sans-serif;
      font-weight: bold;
      color: $dark-shade-100;
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  &__line {
    position: relative;
    bottom: 20px;
    border-bottom: 1px dashed $dark-shade-25;
    width: 62%;
  }

  &__block {
    display: table-cell;
    font-size: 1.1875rem;
  }

  &__service {
    position: relative;
    padding-right: 24px;
    width: 80%;

    &--with-icon::after {
      position: absolute;
      content: 'i';
      top: 0;
      right: 0;
      font-family: Montserrat, Arial, sans-serif;
      font-weight: bold;
      color: $dark-shade-25;
      border: 1px solid $dark-shade-25;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 1.25rem;
      text-align: center;
    }
  }
}
