mixin pagination({ text, items = [] })
  .pagination
    each item in items
      - let classes = ["pagination__item"]
      if item.active
        - classes.push("pagination__item_active")
      if item.link
        a(class=classes href=item.link)= item.text
      else
        .pagination__item ...
    button.pagination__next
    .pagination__info!= text
