include ../rounded-button/rounded-button

mixin account({text, buttonText, isLarge=true, withoutPaddingsButton=false})
  .account
    .account__text= text
    .account__button
      +rounded-button({text: buttonText, isLarge: isLarge, withoutPaddings: withoutPaddingsButton})
