@import '../../scss/colors.scss';

.account {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  line-height: 1.125rem;
  color: $black;

  &__left {
    line-height: 46px;
  }

  &__right {
    position: relative;
    z-index: 1;
  }
}
