include ../rounded-button/rounded-button

mixin account({text, buttonText, isLarge=true, withoutPaddingsButton=false})
  .account
    .account__left= text
    .account__right
    +rounded-button({text: buttonText, isLarge: isLarge, withoutPaddings: withoutPaddingsButton})
