.like {
    display: inline-block;
    position: relative;
    background-color: $white;
    color: $dark-shade-25;
    cursor: pointer;
    padding: 3px 11px 3px 21px;
    border-radius: 10px;
    margin: 1px;
    font-size: 10px;
    line-height: 12px;
    user-select: none;

    &__icon {
        position: absolute;
        top: 4px;
        left: 5px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 10px; 
        display: inline-block;
        line-height: 1;
        text-transform: none;

        &--liked {
            color: $purple;
        }
    }

    &--liked {
        color: $purple;
    }

    &::after {
        content: '';
        display: inherit;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background-color: $dark-shade-25;
        z-index: -1;
        border-radius: 10px;
    }

    &--liked::after {
        background-image: $gradient;
    }
}