mixin like(data)
    if data.liked
        .like.like--liked= data.likes
            i.like__icon.like__icon--liked favorite
    else
        .like= data.likes
            i.like__icon favorite_border