.sign-in {
  background-image: url(./images/registration-background.png);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__card {
    margin: 163px 0;
  }
}
