extends ../landing-layout/landing-layout

include ../../blocks/hero/hero
include ../../blocks/enter-card/enter-card

block title
  title Sign In

block hero
  +hero({text: "", image: "hero-secondary.png"})

block card
  .sign-in
    +enter-card()