extends ../main-layout/main-layout

include ../../blocks/hero/hero
include ../../blocks/enter-card/enter-card

block title
  title Sign In

block content
  .sign-in
    .sign-in__content
      .sign-in__card
        +enter-card()
