extends ../main-layout/main-layout 

include ../../blocks/checkbox/checkbox 
include ../../blocks/range-dates/range-dates
include ../../blocks/expander/expander 
include ../../blocks/image-card/image-card 
include ../../blocks/pagination/pagination
include ../../blocks/slider/slider
include ../../blocks/descriptive-checkbox/descriptive-checkbox
include ../../blocks/configuration-dropdown/configuration-dropdown
include ../../blocks/dropdown-field/dropdown-field

block title
  title Search Room

block content
  .search-room
    .search-room__grid
      sidebar.search-room__sidebar
        form.search-room-form(action="/mock-address", method="post")
          .search-room__sidebar-item
            +dropdown-field({ title: "Даты пребывания в отеле", value: "19 авг - 23 авг" })

          .search-room_index-100
            .search-room__sidebar-item
              .search-room__subtitle Гости
              +configuration-dropdown({ name: "guests" })
          .search-room__sidebar-item
            .search-room__slider
              +slider({title: "Диапазон цены", footerText: "Стоимость за сутки пребывания в номере"})
          .search-room__checkbox-block
            h3.search-room__sidebar-item-title checkbox buttons
            .search-room__checkbox
              +checkbox({ label: "Можно курить" })
            .search-room__checkbox
              +checkbox({ label: "Можно с питомцами", checked: true })
            .search-room__checkbox
              +checkbox({ label: "Можно пригласить гостей (до 10 человек)", checked: true })
          .search-room__options
            h3.search-room__sidebar-item-title Доступность
            .search-room__descriptive-checkbox
              +descriptive-checkbox({
                label: "Широкий коридор",
                description: "Ширина коридоров в номере не менее 91 см.",
              })
            .search-room__descriptive-checkbox
              +descriptive-checkbox({
                label: "Помощник для инвалидов",
                description: "На 1 этаже вас встретит специалист и проводит до номера.",
              })
           
          .search-room_index-100
            .search-room__dropdown
              .search-room__subtitle Удобства номера
              +configuration-dropdown({ name: "search-room" })
          .search-room__expander
            .search-room__sidebar-item
              +expander({
                title: "Дополнительные удобства",
                hide: true,
                list: [
                  {
                    text: "Завтрак",
                    checked: false
                  },
                  {
                    text: "Письменный стол",
                    checked: true
                  },
                  {
                    text: "Стул для кормления",
                    checked: true
                  },
                  {
                    text: "Кроватка",
                    checked: true
                  },
                  {
                    text: "Телевизор",
                    checked: false
                  },
                  {
                    text: "Шампунь",
                    checked: false
                  },
                  {
                    text: "Телевизор",
                    checked: false
                  },
                  {
                    text: "Шампунь",
                    checked: false
                  },
                ]
              })

      .search-room__content
        h1.search-room__header Номера, которые мы для вас подобрали
        .search-room__room-card
          +image-card({
            image: "apartments-1.png",
            arrows: true,
            position: 888,
            lux: true, 
            price: "9 990", 
            rating: 5, 
            comments: 145
          })

        .search-room__room-card
          +image-card({
            image: "apartments-2.png",
            arrows: false,
            position: 840,
            lux: false, 
            price: "9 900", 
            rating: 4, 
            comments: 65
          })

        .search-room__room-card
          +image-card({
            image: "apartments-3.png",
            arrows: false,
            position: 980,
            lux: true, 
            price: "8 500", 
            rating: 3, 
            comments: 35
          })

        .search-room__room-card
          +image-card({
            image: "apartments-4.png",
            arrows: false,
            position: 856,
            lux: false, 
            price: "7 300", 
            rating: 5, 
            comments: 19
          })

        .search-room__room-card
          +image-card({
            image: "apartments-5.png",
            arrows: false,
            position: 740,
            lux: false, 
            price: "6 000", 
            rating: 4, 
            comments: 44
          })

        .search-room__room-card
          +image-card({
            image: "apartments-6.png",
            arrows: false,
            position: 982,
            lux: false, 
            price: "5 800", 
            rating: 3, 
            comments: 56
          })

        .search-room__room-card
          +image-card({
            image: "apartments-7.png",
            arrows: false,
            position: 678,
            lux: false, 
            price: "5 500", 
            rating: 5, 
            comments: 45
          })

        .search-room__room-card
          +image-card({
            image: "apartments-8.png",
            arrows: false,
            position: 450,
            lux: false, 
            price: "5 300", 
            rating: 4, 
            comments: 39
          })

        .search-room__room-card
          +image-card({
            image: "apartments-9.png",
            arrows: false,
            position: 350,
            lux: false, 
            price: "5 000", 
            rating: 3, 
            comments: 77
          })

        .search-room__room-card
          +image-card({
            image: "apartments-10.png",
            arrows: false,
            position: 666,
            lux: false, 
            price: "5 000", 
            rating: 4, 
            comments: 25
          })

        .search-room__room-card
          +image-card({
            image: "apartments-11.png",
            arrows: false,
            position: 444,
            lux: false, 
            price: "5 000", 
            rating: 3, 
            comments: 15
          })

        .search-room__room-card
          +image-card({
            image: "apartments-12.png",
            arrows: false,
            position: 352,
            lux: false, 
            price: "5 000", 
            rating: 3, 
            comments: 55
          })

        .search-room__pagination
          +pagination({ 
            text: "1 &ndash; 12 из 100+ вариантов аренды",
            items: [
              { link: "/mock-address", text: "1", active: true },
              { link: "/mock-address", text: "2" },
              { link: "/mock-address", text: "3" },
              { text: "..." },
              { link: "/mock-address", text: "15" },
            ]
          })  
