@import "../../scss/sizes.scss";
@import "../../scss/colors.scss";

.search-room {
  display: grid;
  margin-top: 30px;
  gap: 1em;
  justify-items: center;

  @media screen and (min-width: $middle-size) {
    grid-template-columns: 1fr 3fr;
    justify-items: stretch;
  }

  &__header {
    grid-column: 1/-1;
  }

  &__pagination {
    grid-column: 1/-1;
    justify-self: center;
  }

  &__sidebar {
    min-width: 266px;
  }

  &__sidebar-item-title {
    margin-bottom: 16px;
    color: $dark-shade-100;
  }

  &__sidebar-item {
    margin-bottom: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    row-gap: 2em;
    column-gap: 1em;
  }

  &__room-card {
    justify-self: center;
  }

  &__slider {
    position: relative;
    top: -16px;
    font-size: .75rem;
    color: $dark-shade-50;
    font-family: Montserrat;
    line-height: 1.5rem;
  }

  &--index-100 {
    position: relative;
    z-index: 100;
  }
}
