@import '../../scss/sizes.scss';
@import '../../scss/colors.scss';

.search-room {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  &__grid {
    display: grid;
    padding-top: 30px;
    gap: 1em;
    justify-items: center;

    @media screen and (min-width: $middle-size) {
      grid-template-columns: 1fr 3fr;
      justify-items: stretch;
    }
  } 

  &__header {
    font-family: Quicksand, Arial, sans-serif;
    line-height: 1.875rem;
    grid-column: 1/-1;
    line-height: 1;
    padding-top: 6px;
    font-size: 1.5rem;
    color: $dark-shade-100;
  }

  &__pagination {
    grid-column: 1/-1;
    justify-self: center;
  }

  &__sidebar {
    max-width: 266px;
  }

  &__sidebar-item-title {
    font-family: Montserrat, Arial, sans-serif;
    margin-bottom: 16px;
    color: $dark-shade-100;
    text-transform: uppercase;
    font-size: .75rem;
  }

  &__sidebar-item {
    margin-bottom: 30px;
  }

  &__last-item {
    margin-top: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    row-gap: 2em;
    column-gap: 8px;
    margin-left: 26px;
  }

  &__room-card {

    @media (max-width: 992px) {
      justify-self: center;
    }
  }

  &__slider {
    position: relative;
    top: -16px;
    font-size: .75rem;
    color: $dark-shade-50;
    font-family: Montserrat;
    line-height: 1.5rem;
  }

  &--index-100 {
    position: relative;
    z-index: 100;
  }
}
