@import '../../scss/sizes.scss';
@import '../../scss/colors.scss';

.search-room {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  &__grid {
    display: grid;
    margin-top: 26px;
    justify-items: center;

    @media screen and (min-width: $middle-size) {
      grid-template-columns: 1fr 3fr;
      justify-items: stretch;
    }
  } 

  &__header {
    font-family: Quicksand, OpenSans, sans-serif;
    margin: 6px 0 2px 0;
    grid-column: 1/-1;
    font-size: 1.5rem;
    color: $dark-shade-100;
  }

  &__pagination {
    grid-column: 1/-1;
    justify-self: center;
    margin: 24px 14px 70px 0;
  }

  &__sidebar {
    max-width: 266px;
  }

  &__sidebar-item-title {
    font-family: Montserrat, OpenSans, sans-serif;
    margin-bottom: 12px;
    color: $dark-shade-100;
    text-transform: uppercase;
    font-size: .75rem;
  }

  &__sidebar-item {
    margin-bottom: 16px;
  }

  &__subtitle {
    font-family: Montserrat, OpenSans, sans-serif;
    color: $dark-shade-100;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: bold;
  }

  &__expander {
    margin-top: 26px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    row-gap: 22px;
    column-gap: 9px;
    margin-left: 36px;
  }

  &__room-card {

    @media (max-width: 992px) {
      justify-self: center;
    }
  }

  &__slider {
    margin-top: 34px;
  }

  &__dropdown {
    margin-top: 26px;
  }

  &__checkbox-block {
    margin-top: 25px;
  }

  &__checkbox {
    margin-top: 13px;
  }

  &__descriptive-checkbox {
    margin-top: 10px;
  }

  &__options {
    margin-top: 26px;
  }

  &_index-100 {
    position: relative;
    z-index: 100;
  }
}
