include ../price/price 
include ../apartment-info/apartment-info 
include ../range-dates/range-dates 
include ../invoice/invoice 
include ../long-button/long-button
include ../configuration-dropdown/configuration-dropdown

mixin booking-card()
  .booking-card
    form.booking-card__form(action="/mock-address", method="post")
      .booking-card__header
        +apartment-info({number: 888, lux: true, big: true})
        +price("9 990")
      .booking-card__item.booking-card__item_high
        +range-dates({
          inLabel: "Прибытие",
          outLabel: "Выезд",
        })
      .booking-card__item.booking-card__item_low
        h3.booking-card__subtitle Гости
        +configuration-dropdown({ name: "booking" })
      .booking-card__invoice
        +invoice({ 
          standing: "9 990&#8381; х 4 суток",
          standingPrice: "39 960&#8381;",
          services: "Сбор за услуги: скидка 2 179&#8381;",
          servicesPrice: "0&#8381;",
          additional: "Сбор за дополнительные услуги",
          additionalPrice: "300&#8381;",
          total: "38 081&#8381;",
        })
      .booking-card__item
        +long-button("Забронировать")
