include ../checkbox/checkbox

mixin expander(data)
  .expander
    .expander__header.js-expander= data.title
    .expander__list(class=data.hide ? 'expander__list--hide': '')
      each item in data.list
        +checkbox(item.text, item.checked)