mixin expander(data)
  .expander
    .expander__header.js-expander= data.title
    .expander__list#expander-list(class=data.hide ? 'expander__list--hide': '')
      include ../checkbox/checkbox
      each item in data.list
        +checkbox(item.text, item.checked)