@import '../../scss/colors.scss';

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 42px;
  line-height: 42px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
