include ../calendar/calendar
include ../dropdown-field/dropdown-field

mixin range-dates({ inLabel, outLabel })
  .range-dates
    +calendar()
    .range-dates__input
      +dropdown-field({ title: inLabel, placeholder: "ДД.ММ.ГГГГ" })
    .range-dates__input
      +dropdown-field({ title: outLabel, placeholder: "ДД.ММ.ГГГГ" })
    //- label.range-dates__label.range-dates__label--width-small= inLabel
    //-   span.range-dates__wrapper
    //-     input.range-dates__date-dropdown(placeholder="ДД.ММ.ГГГГ")
    //- label.range-dates__label.range-dates__label--width-small= outLabel
    //-   span.range-dates__wrapper
    //-     input.range-dates__date-dropdown(placeholder="ДД.ММ.ГГГГ")
