mixin range-dates({inLabel, outLabel})
  .range-dates
    input.js-calendar.js-hidden.calendar
    label.range-dates__label.range-dates__label--small= inLabel
      span.range-dates__wrapper
        input.range-dates__date-dropdown(placeholder="ДД.ММ.ГГГГ")
    label.range-dates__label.range-dates__label--small= outLabel
      span.range-dates__wrapper
        input.range-dates__date-dropdown(placeholder="ДД.ММ.ГГГГ")


mixin date-dropdown({date, label})
  .range-dates
    label.range-dates__label= label
      span.range-dates__wrapper
        input.range-dates__date-dropdown(placeholder="ДД.ММ.ГГГГ" value=date)