mixin range-dates()
    .range-dates
        label.range-dates__label Прибытие
          span.range-dates__wrapper
            input.range-dates__date-dropdown(placeholder="ДД.ММ.ГГГГ")#first_date
        label.range-dates__label Выезд
          span.range-dates__wrapper
            input.range-dates__date-dropdown(placeholder="ДД.ММ.ГГГГ")#second_date