.gallery {

    &__image {
        position: relative;
    }

    &__arrow {
        position: absolute;
        top: 0;
        width: 44px;
        height: 97%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $white;
        cursor: pointer;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }

    &__left-arrow {
        left: 0;
    }

    &__right-arrow {
        right: 0;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &__point-container {
        display: flex;
        width: 42px;
        justify-content: space-between;
        position: absolute;
        right: 15px;
        bottom: 20px;
    }

    &__point {
        width: 7.5px;
        height: 7.5px;
        border-radius: 50%;
        border: 1px solid $white;

        &--fill {
            background-color: $white;
        }
    }

}