@import "../../scss/colors.scss";

.price {
  color: $dark-shade-50;

  &--bold {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
  }

  &--small {
    font-size: 12px;
  }
}
