@import '../../scss/colors.scss';

.price {
  font-family: Montserrat, Arial, sans-serif;
  color: $dark-shade-50;

  &--font-bold {
    font-weight: bold;
  }

  &--font-small {
    font-size: .75rem;
  }
}
