.checkbox {
    display: block;
    position: relative;
    padding-left: 2.2em;
    padding-bottom: .7em;
    cursor: pointer;
    user-select: none;

    &__input {
        width: 0;
        height: 0;
        opacity: 0;
    }

    &__mark {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.25em;
        height: 1.25em;
        border: 1px solid $dark-shade-25;
        border-radius: .25em;
    }

    &__mark:after {
        content: '';
        display: none;
        position: absolute;
        top: .1875em;
        left: .375em;
        width: .375em;
        height: .5em;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-image:  linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
        border-image-slice: 1;
        transform: rotate(45deg);
    }

    &__input:checked ~ &__mark {
        border-color: $purple;
    }

    &__input:checked ~ &__mark:after {
        display: block;
    }
}
