include ../long-button/long-button
include ../account/account
include ../text-field/text-field

mixin enter-card() 
  .enter-card
    h1.enter-card__title Войти
    form.enter-card__form(action="/mock-address", method="post")
      .enter-card__field
        +text-field({type: "email", placeholder: "Email"})
      +text-field({type: "password", placeholder: "Пароль"})
      .enter-card__enter-button
        +long-button("Войти")
    .enter-card__footer
      +account({text: "Нет аккаунта на Toxin?", buttonText: "Создать", withoutPaddingsButton: true})
