mixin enter-card()  
  .enter-card
    .card-canvas
      h1.enter-card__title Войти
      form(action="index.html", method="post")
        input.text-field.enter-card__field(type="text" placeholder="Email")
        input.text-field(type="password" placeholder="Пароль")
        .enter-card__enter-button
          include ../long-button/long-button
          +long-button('Войти')
      
      .enter-card__footer
        include ../card-footer/card-footer.pug 
        +card-footer('Нет аккаунта на Toxin?', 'Создать')