.enter-card {
  width: 380px;

  &__title {
    margin-bottom: 20px;
  }

  &__field {
    margin-bottom: 10px;
  }

  &__enter-button {
    margin-top: 18px;
  }

  &__account {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
  }

  &__footer {
    margin-top: 30px;
  }
}
