include ../long-button/long-button
include ../card-footer/card-footer

mixin enter-card()  
  .enter-card
    .card-canvas
      h1.card-canvas__title Войти
      form.enter-card-form(action="/mock-address", method="post")
        .enter-card__field
          input.text-field(type="text" placeholder="Email")
        input.text-field(type="password" placeholder="Пароль")
        .enter-card__enter-button
          +long-button("Войти")
      .enter-card__footer
        +card-footer("Нет аккаунта на Toxin?", "Создать")