mixin enter-card()  
    .card-canvas.enter-card
      h1.enter-card__title Войти
      input.text-field.enter-card__field(type="text" placeholder="Email")
      input.text-field(type="password" placeholder="Пароль")
      .long-button.enter-card__enter-button Войти
        i.long-button__icon arrow_forward
      .enter-card__account
        p Нет аккаунта на Toxin?
        .rounded-button Создать