@import '../../scss/sizes.scss';
@import '../../scss/colors.scss';

.form-elements {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  &__wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px 1fr));
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'left' 'mid' 'right' 'bot';
    justify-items: center;
    gap: 120px;

    @media (min-width: 872px) {
      grid-template-areas: 'left right' 'mid bot';
    }

    @media (min-width: 1260px) {
      grid-template-areas: 'left mid right' 'left bot bot';
    }
  }

  &__logo {
    margin-top: 30px;
  }

  &__left {
    grid-area: left;
  }

  &__mid {
    grid-area: mid;
  }

  &__right {
    grid-area: right;
  }

  &__bot {
    grid-area: bot;
  }

  &__top {
    position: relative;
    z-index: 50;
  }

  &__checkbox {
    margin-top: 12px;
  }

  &__descriptive-checkbox {
    margin-top: 10px;
  }

  &__item {
    width: 320px;
    padding-bottom: 20px;

    &--sub {
      padding-bottom: 14px;
    }

    &--big-space {
      padding-bottom: 40px;
    }
  }

  &__like {
    margin-right: 10px;
  }

  &__rating {
    padding-left: 20px;
  }

  &__inline {
    display: flex;
  }

  &__top-margin {
    margin-top: 120px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 5px;

    &--accent {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    color: $dark-shade-100;
  }

  &__small-container {
    width: 266px;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__btn {
    margin-right: 20px;
    margin-bottom: 30px;

    &--big {
      margin-right: 30px;
    }
  }

  &__slider {
    position: relative;
    top: -22px;
    width: 266px;
  }
}
