mixin socials()
  .socials
    a.socials__link.socials__link--twitter(href="http://twitter.com" target="_blank" rel="noopener noreferrer")
    a.socials__link.socials__link--fb(href="http://facebook.com" target="_blank" rel="noopener noreferrer")
    a.socials__link.socials__link--instagram(href="http://instagram.com" target="_blank" rel="noopener noreferrer")
