mixin socials()
  .socials
    a.socials__link.socials__link_with-twitter(href="http://twitter.com" target="_blank" rel="noopener noreferrer")
    a.socials__link.socials__link_with-fb(href="http://facebook.com" target="_blank" rel="noopener noreferrer")
    a.socials__link.socials__link_with-instagram(href="http://instagram.com" target="_blank" rel="noopener noreferrer")
