extends ../main-layout/main-layout

include ../../blocks/register-card/register-card

block title
  title Registration

block content
  .registration
    .registration__content
      +register-card()
