@import '../../scss/colors.scss';
@import '../../scss/sizes.scss';

.registration {
  background-image: url(./images/registration-background.png);
  background-position-x: center;
  background-position-y: -50px;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 24px;
  }
}
