extends ../landing-layout/landing-layout

include ../../blocks/hero/hero
include ../../blocks/register-card/register-card

block title
  title Registration

block hero
  +hero({image: "hero-secondary.png"})

block card 
  .registration
    +register-card()