@import "../../scss/sizes.scss";

.hero {
  position: relative;
  background-image: url("../img/image_3.png");
  min-height: 830px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -70px;

  &--img2 {
    background-image: url("../img/image_4.png");
  }

  &__text {
    position: absolute;
    width: 297px;
    height: 48px;
    text-align: right;
    bottom: 20px;
    right: 88px;
  }
}