mixin apartment-info({big, lux, number})
  .apartment-info
    span.apartment-info--bold № 
    if big 
      h1.apartment-info--main= number 
    else
      h2.apartment-info--main= number 
    if (lux)
      span.apartment-info--lux  Люкс