@import '../../scss/colors.scss';

.apartment-info {
  &--main {
    display: inline;
  }

  &--lux {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: .75rem;
    color: $purple;
    text-transform: uppercase;
    padding-left: 1px;
  }

  &--bold {
    font-family: Quicksand, Arial, sans-serif;
    font-weight: bold;
  }
}