@import '../../scss/colors.scss';

.apartment-info {
  display: flex;

  &__number {
    font-family: Quicksand, Arial, sans-serif;
    display: inline-block;
    color: $dark-shade-100;
    font-size: .875rem;
    padding-right: 4px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;

    &--font-medium {
      font-size: 1.2rem;
    }

    &--font-large {
      font-size: 1.5rem;
    }
  }
    
  &__lux-text {
    font-family: Montserrat, Arial, sans-serif;
    font-size: .75rem;
    color: $purple;
    padding-right: 4px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
  } 
}