@import "../../scss/colors.scss";

.info {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: $dark-shade-25;
  border: 1px solid $dark-shade-25;
  border-radius: 50%;
  text-align: center;
  line-height: 1.25rem;
  cursor: pointer;
}
