.index {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  &__list {
    background-color: white;
    width: 380px;
    padding: 20px 40px;
    margin: 0 auto;
    border: 1px solid rgb(205, 199, 214);
    border-radius: 10px;
  }

  &__link {
    text-decoration: none;
    color: rgb(53, 75, 92);
  }
}
