@import '../../scss/sizes.scss';
@import '../../scss/colors.scss';

.color-types {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 144px 0 0 0;

    @media (min-width: $small-size) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1160px;
    }
  }
  
  &__logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &__pallete {
    margin: 0 auto;

    @media (min-width: $small-size) {
      padding: 0 56px;
      margin: 0;
    }
  }

  &__types {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    height: 306px;
    margin: 0 auto;

    @media (min-width: $small-size) {
      margin: 0;
    }
  }

}