@import "../../scss/colors.scss";
@import "../../scss/sizes.scss";

.footer {
  width: 100%;
  background-color: $white;
  line-height: 1.5rem;
  padding-top: 100px;
  box-shadow: inset 0px 1px 0px rgba(31, 32, 65, 0.1);

  &__text {
    margin-top: 17px;
  }

  &__container {
    display: flex;
    margin: 0 auto 84px;

    @media (max-width: 992px) {
      justify-content: space-around;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  }

  &__block {
    width: 260px;

    @media (max-width: 992px) {
      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &__header {
      margin-bottom: 22px;
      margin-top: 2px;
    }
  }

  &__nav-container {
    display: flex;
    margin-left: 40px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__nav {
    width: 200px;
  }

  &__link {
    display: block;
    margin: 20px 0;
    line-height: 1.0625rem;
  }

  &__line {
    border-top: 1px solid $dark-shade-25;
    padding: 10px 0;
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}
