extends ../main-layout/main-layout

include ../../blocks/hero/hero

block title
  title Landing Layout

block content
  block hero
    +hero({text: "Лучшие номера для вашей работы, отдыха и просто вдохновения"})

  block card
    .landing-layout
      .landing-layout__room-config
        