include ../rounded-button/rounded-button

mixin card-footer(text, buttonText)
  .card-footer
    .card-footer__left= text
    .card-footer__right
    +rounded-button({text: buttonText, isLarge: true})