extends ../main-layout/main-layout

include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/light-footer/light-footer
include ../../blocks/kit-logo/kit-logo

block title
  title Headers and Footer

block header

block content
  - 
    var menu = [{
      text: "Home",
      link: "/mock-address",
      current: true,
      },
      {
      text: "About Us",
      link: "/mock-address",
      }, 
      {
      text: "Services",
      link: [
      {
        text: "First",
        link: "/mock-address",
      },
      {
        text: "Second",
        link: "/mock-address",
      }
      ]},
      {
      text: "Careers",
      link: "/mock-address",
      },
      {
      text: "News",
      link: "/mock-address",
      },
      {
      text: "Documentation",
      link: "/mock-address",
    }];
  .main-layout__kit
    .headers-footers
      .headers-footers__logo
        +kit-logo()
      .headers-footers__item.headers-footers__item--up
        +header({
          isLogged: false, 
          buttons: {
            enter: "Login",
            register: "Register"
          },
          menu: menu
        })
      .headers-footers__item
        +header({isLogged: true, menu: menu})
      .headers-footers__item.headers-footers__item--down
        +footer({
          main: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis",
          navigation: [
            {
              title: "Navigation",
              links: [
                { url: "/mock-address", text: "About Us" },
                { url: "/mock-address", text: "News" },
                { url: "/mock-address", text: "Support" },
                { url: "/mock-address", text: "Products" },
              ]
            },
            {
              title: "About Us",
              links: [
                { url: "/mock-address", text: "About Us" },
                { url: "/mock-address", text: "Our team" },
                { url: "/mock-address", text: "Careers" },
                { url: "/mock-address", text: "Investors" },
              ]
            },
            {
              title: "Support",
              links: [
                { url: "/mock-address", text: "Documentation" },
                { url: "/mock-address", text: "Community" },
                { url: "/mock-address", text: "Get in Touch" },
              ]
            },
          ],
          copy: "Copyright © 2018 Toxin UI Kit. All rights reserved.",
          subscription: {
            title: "Subscribe to out newsletter",
            text: "Receive our latest news and promotions in your inbox!",
            placeholder: "Your email address"
          }
        })
      .headers-footers__item
        +light-footer()

block footer