.find-apartments-card {
    width: 380px;
    height: 374px;

    &__item {
        position: relative;
        margin: 20px 0;
        z-index: 3;

        &--primary {
            z-index: 4;
        }
    }

    &__button {
        margin-top: 31px;
    }
}