mixin apartments()
    .find-apartments-card
        .card-canvas
          h1 Найдем номера под ваши пожелания
          .find-apartments-card__item.find-apartments-card__item--primary
            include ../range-dates/range-dates.pug
            +range-dates({
              firstLabel: 'Прибытие',
              secondLabel: 'Выезд',
              firstInputId: 'first_date',
              secondInputId: 'second_date'
            })
            .calendar
              input(type="text")#calendar
          .find-apartments-card__item
            include ../configuration-dropdown/configuration-dropdown.pug
            +guest-dropdown()
          .find-apartments-card__button
            include ../long-button/long-button.pug
            +long-button('Подобрать номер')