include ../range-dates/range-dates
include ../long-button/long-button

mixin apartments()
  .find-apartments-card
    h1.find-apartments-card__title Найдем номера под ваши пожелания
    form.find-apartments-card-form(action="/mock-address", method="get")
      .find-apartments-card__body
        .find-apartments-card__item.find-apartments-card__item--primary
          +range-dates({
            inLabel: "Прибытие",
            outLabel: "Выезд"
          })
        .find-apartments-card__item.find-apartments-card__item--primary
          h3.find-apartments-card__subtitle Гости
          input.js-dropdown-find-apartments
      .find-apartments-card__button
        +long-button("Подобрать номер")
