include ../range-dates/range-dates
include ../long-button/long-button

mixin apartments()
  .find-apartments-card
    .card-canvas
      h1 Найдем номера под ваши пожелания
      form.find-apartments-card-form(action="index.html", method="get")
        .find-apartments-card__body
          .find-apartments-card__item.find-apartments-card__item--primary
            +range-dates({
              firstLabel: "Прибытие",
              secondLabel: "Выезд",
              firstInputId: "first_date",
              secondInputId: "second_date"
            })
            .calendar
              input(type="text")#calendar
          .find-apartments-card__item
            input.js-dropdown-find-apartments
        .find-apartments-card__button
          +long-button("Подобрать номер")