.find-apartments-card {
    width: 380px;
    height: 374px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__dropdown {
        position: relative;
        z-index: 1;
    }
}