.color-types {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: 144px auto;
}

.type-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 306px;
}