@import "../../scss/colors.scss";

.donut {
  position: relative;
  width: 150px;
  height: 150px;
  color: $purple;
  cursor: default;
  text-align: center;

  &__text {
    position: absolute;
    top: 50px;
    left: 44px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 0.03rem;
    line-height: .9375rem;
  }

  h1 {
    color: $purple;
  }
}
