.comment {
  display: grid;
  grid-template-columns: 3.57em 1fr;
  grid-template-rows: 3.57em 1fr;
  grid-gap: 0.57em;

  &__author {
    padding-top: 0.143em;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
  }

  &__text {
    line-height: 1.72em;
  }
}
