mixin comment(data)
  article.comment
    img.avatar(src=data.image alt="user avatar")
    div
      .comment__author= data.author
      .comment__date= data.date
    .comment__like
      include ../like/like
      +like(data.like)
    .comment__text= data.text