.comment {
    display: grid;
    grid-template-columns: 3.57em 1fr;
    grid-template-rows: 3.57em 1fr;
    grid-gap: .57em;

    &__author {
        padding-top: .143em;
        font-family: 'Montserrat Bold';
    }

    &__date {
        padding-top: .285em;
    }

    &__text {
        line-height: 1.72em;
    }
}