mixin menu(items)
  nav.menu.js-menu
    +_print-items(items)


mixin _print-items(items)
  each item in items
    - 
      let classList = ["menu__item"]
      if (item.current) {
        classList.push("menu__item--current")
      }

    if Array.isArray(item.link)
      - classList.push("js-menu__submenu")

      .menu__submenu  
        div(class=classList)= item.text
          .submenu.js-submenu
            +_print-submenu(item.link)
    else
      div(class=classList)
        a(href=item.link)= item.text


mixin _print-submenu(items)
  each item in items
    a.submenu__item(href=item.link)= item.text