include ../icon-button/icon-button

mixin menu(items)
  nav.menu.js-menu
    .menu__button
      +icon-button({ icon: "menu" })
    .menu__container.js-menu-container
      each item in items
        .menu__item
          if Array.isArray(item.link)
            .menu__expander.js-menu-expander
              a.menu__link= item.text
            .menu__submenu.js-submenu
              each subitem in item.link
                .menu__submenu-item
                  a.menu__link(href=subitem.link)= subitem.text
          else
            - let classes = ["menu__link"]
            if item.current
              - classes.push("menu__link_bold-text")
            a(class=classes href=item.link)= item.text
