@import '../../scss/colors.scss';
@import '../../scss/sizes.scss';

.menu {
  font-family: Montserrat, OpenSans, sans-serif;
  color: $dark-shade-50;
  font-size: 0.875rem;
  line-height: 1rem;

  &__container {
    position: relative;
    display: flex;

    @media (max-width: 767px) {
      position: absolute;
      flex-direction: column;
      background-color: white;
      align-items: center;
      left: 5%;
      right: 5%;
      border: 1px solid $dark-shade-5;
      font-size: 1.5rem;
      visibility: hidden;
    }

    &_visible {
      visibility: visible;
    }
  }

  &__button {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__item {
    cursor: pointer;
    margin-right: 20px;

    @media (max-width: 767px) {
      padding: 20px;
      width: 80%;
      border-bottom: 1px solid $dark-shade-5;
    }
  }

  &__expander {
    display: flex;

    &:after {
      content: '\e313';
      font-family: 'Material Icons';
      font-size: 1.5rem;
      width: 24px;
      line-height: 1.25rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark-shade-50;

    &_bold-text {
      font-weight: bold;
    }
  }

  &__submenu {
    position: absolute;
    top: 40px;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    display: none;

    @media (max-width: 767px) {
      position: initial;
      margin-top: 20px;
    }

    &_visible {
      display: flex;
    }
  }

  &__submenu-item {
    padding: 10px 16px;

    &:hover {
      background-color: $dark-shade-5;
    }
  }
}
