include ../gallery/gallery
include ../apartment-info/apartment-info 
include ../price/price 
include ../rating/rating

mixin image-card(data)
  .image-card
    +gallery(data.image, data.arrows)
    .image-card__body
      .image-card__item.image-card__item--border
        +apartment-info({number: data.position, lux: data.lux})
      .image-card__item.image-card__item--right.image-card__item--border
        +price(data.price)
      .image-card__item.image-card__item--rating
        +rating(data.rating)
      .image-card__item.image-card__item--right
        b 
          | #{data.comments} 
        | Отзывов