@import '../../scss/colors.scss';

.image-card {
  width: 271px;
  background-color: $white;
  box-shadow: 0px 10px 20px $dark-shade-5;
  border-radius: 4px;
  overflow: hidden;

  &__body {
    padding: 8px 20px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    &_underlined {
      border-bottom: 1px solid $dark-shade-10;
    }
  }

  &__text {
    display: inline-block;

    &_accented {
      font-weight: bold;
    }
  }
}
