mixin image-card(image, arrows = true, apartment, lux = false, price, rating, comments)
    .image-card
        include ../gallery/gallery
        +gallery(image, arrows)
        .image-card__body
          .image-card__item.image-card__item--border
            include ../apartment-info/apartment-info 
            +apartment-info({number: apartment, lux: lux})
          .image-card__item.image-card__item--right.image-card__item--border
            include ../price/price 
            +price(price)
          .image-card__item.image-card__item--rating
            include ../rating/rating
            +rating(rating)
          .image-card__item.image-card__item--right
            b 
              | #{comments} 
            | Отзывов