doctype html
html
  head
    title Index
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .statistic
      div(class="donut statistic__donut" data-donut='[{"value": 65, "color": "#BC9CFF", "bold": true}, {"value": 65, "color": "#6FCF97"}, {"value": 130, "color": "#FFE39C"}]')
      
      ul.bullet.statistic__list
        li.bullet--excellent.bullet--small Великолепно
        li.bullet--good.bullet--small Хорошо
        li.bullet--normal.bullet--small Удовлетворительно
        li.bullet--bad.bullet--small Разачарован

    div(class="donut" data-donut='[{"value": 40, "color": "#a30", "bold": true}, {"value": 30, "color": "#f0f"}]')
    div(class="donut" data-donut='[{"value": 125, "color": "#355"}, {"value": 120, "color": "#a3f", "bold": true}, {"value": 130, "color": "#30f"}]')
    
    