doctype html
html
  head
    title Index
    meta(name="viewport" content="width=device-width, initial-scale=1")
  //body
    include blocks/checkbox/checkbox.pug
    include blocks/radio/radio.pug
    include blocks/toggle/toggle.pug
    include blocks/long-button/long-button.pug
    include blocks/like/like.pug
    include blocks/enter-card/enter-card.pug
    include blocks/rating/rating.pug
    include blocks/configuration-dropdown/configuration-dropdown.pug

    include blocks/header/header.pug 
    //+header()

    .hero
      .hero__text
        | Лучшие номера для вашей работы, отдыха и просто вдохновения

      | This one is the sub-section or widget title
    h2
      | Next one is the item title inside widgets

    p
      | Просто какой-то обычный текст на странице. Который можно читать и все...
   
    .content
      +checkbox("Можно курить")
      +checkbox("Можно с питомцами", true)
      +checkbox('Можно пригласить гостей (до 10 человек)', false)

      +radio('Мужчина', 'n')
      +radio('Женщина', 'n')
      +radio('Ныпаймикто', 'n')

      br
      br
      +toggle('Предлагать новости', true)
      +toggle('Не нужны новости')
      .content
        .button Click me
        .button.button--disabled Click me

      .rounded-button Click me
      .rounded-button.rounded-button--disabled Click me

      .simple-button Click me
      .simple-button.simple-button--disabled Click me

      label.checkbox.checkbox--bold Широкий коридор
        input.checkbox__input(type="checkbox" checked=checked)
        .checkbox__mark
        .checkbox__description
          | Ширина коридоров в номере не менее 91 см.


      +like(1000)
      +like(33, true)
      +like(222)

      
      +rating(3)
      +rating(2)
      +rating(5)
      +rating(0)

      .expander
        .expander__header#expander-header Expandable checkbox list
        #expander-list.expander__list.expander__list--hide
          +checkbox('Завтрак')
          +checkbox('Письменный стол', true)
          +checkbox('Стул для кормления', true)
          +checkbox('Кроватка', true)
          +checkbox('Телевизор')
          +checkbox('Шампунь')
          +checkbox('Телевизор')
          +checkbox('Шампунь')
      
      ul.bullet
        li 
          span Нельзя с питомцами
        li 
          span Без вечеринок и мероприятий
        li 
          span Время прибытия &#8212; после 13:00, а выезд до 12:00 а выезд до 12:00 а выезд до 12:00 а выезд до 12:00 а выезд до 12:00 а выезд до 12:00 а выезд до 12:00 а выезд до 12:00 а выезд до 12:00 
      
      +enter-card


      .additions
        .additions__title Комфорт
        div Шумопоглощающие стены

      .additions.additions--home
        .additions__title Удобство
        div Окно в каждой из спален

      .comment
        img.avatar(src="img/ava.jpg")
        div
          .comment__author Мурад Сарафанов
          .comment__date 5 дней назад
        .comment__like
          +like(12, true)
        .comment__text
          | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
          | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто 
          | не жаловался из соседей.
        


      .pagination
        a.pagination__item.pagination__item--active(href="#") 1
        a.pagination__item(href="#") 2
        a.pagination__item(href="#") 3
        .pagination__item ...
        a.pagination__item(href="#") 15
        button.pagination__next
        .pagination__info 1 &ndash; 12 из 100+ вариантов аренды
      
      .subscription
        .subscription__item
        input.text-field(placeholder="Email")

      include blocks/range-dates/range-dates.pug 
      +range-dates()


      include blocks/find-apartments-card/find-apartments-card.pug 
      +apartments()

      include blocks/register-card/register-card.pug 
      +register-card()
            
      .inv_cont
        include blocks/invoice/invoice.pug 
        +invoice()
      include blocks/gallery/gallery.pug
      .gal_cont
        +gallery("img/apartments_2.png", true)

      include blocks/image-card/image-card.pug 
      +image-card("img/apartments_2.png", true, 888, true, '9 990', 5, 999)
      br

      
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br

    footer.light-footer
      .site-logo
      .light-footer__content
        | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam 
        | eget nullam pellentesque aliquam curabitur cociis.
      include blocks/socials/socials.pug 
      +socials()

    footer.footer
      .footer__container
        .footer__block
          .site-logo
          p
          | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam 
          | eget nullam pellentesque aliquam curabitur cociis.
        .footer__nav
          .footer__block__header
            h3 Navigation
          p
            a.footer__link(href="#") About Us
            a.footer__link(href="#") News
            a.footer__link(href="#") Support
            a.footer__link(href="#") Products
        .footer__nav
          .footer__block__header
            h3 About Us
          p
            a.footer__link(href="#") Who we are
            a.footer__link(href="#") Our team
            a.footer__link(href="#") Careers
            a.footer__link(href="#") Investors
        .footer__nav
          .footer__block__header
            h3 Support
          p
            a.footer__link(href="#") Documentation
            a.footer__link(href="#") Community
            a.footer__link(href="#") Get in Touch
        .footer__block
          .footer__block__header
            h3 Subscribe to out newsletter
          p Receive our latest news and promotions in your inbox!
          .subscription
            .subscription__item
            input.text-field(placeholder="Your email address")

    


  