doctype html
html
  head
    title Index
  body
    include blocks/checkbox/checkbox.pug
    include blocks/radio/radio.pug
    include blocks/toggle/toggle.pug
    include blocks/long-button/long-button.pug
    include blocks/like/like.pug
    include blocks/enter-card/enter-card.pug
    include blocks/rating/rating.pug


    h1
      | This one is the sub-section or widget title
    h2
      | Next one is the item title inside widgets

    p
      | Просто какой-то обычный текст на странице. Который можно читать и все...
   
    .content
      +checkbox("Можно курить")
      +checkbox("Можно с питомцами", true)
      +checkbox('Можно пригласить гостей (до 10 человек)', false)

      +radio('Мужчина', 'n')
      +radio('Женщина', 'n')
      +radio('Ныпаймикто', 'n')

      br
      br
      +toggle('Предлагать новости', true)
      +toggle('Не нужны новости')
      .content
        .button Click me
        .button.button--disabled Click me

      .rounded-button Click me
      .rounded-button.rounded-button--disabled Click me

      .simple-button Click me
      .simple-button.simple-button--disabled Click me

      label.checkbox.checkbox--bold Широкий коридор
        input.checkbox__input(type="checkbox" checked=checked)
        .checkbox__mark
        .checkbox__description
          | Ширина коридоров в номере не менее 91 см.


      +like(1000)
      +like(33, true)
      +like(222)

      
      +rating(3)
      +rating(2)
      +rating(5)
      +rating(0)

      .expander
        .expander__header#expander-header Expandable checkbox list
        #expander-list.expander__list.expander__list--hide
          +checkbox('Завтрак')
          +checkbox('Письменный стол', true)
          +checkbox('Стул для кормления', true)
          +checkbox('Кроватка', true)
          +checkbox('Телевизор')
          +checkbox('Шампунь')
          +checkbox('Телевизор')
          +checkbox('Шампунь')
      
      ul.bullet
        li Нельзя с питомцами
        li Без вечеринок и мероприятий
        li Время прибытия &#8212; после 13:00, а выезд до 12:00
      //+enter-card
  

      .configuration-dropdown
        .configuration-dropdown__header#dropdown_header 2 спальни, 2 кровати...
        .configuration-dropdown__content.configuration-dropdown__content--hide#dropdown_content
          .configuration-dropdown__item#config_room 
            .configuration-dropdown__option Спальни
            .configuration-dropdown__controlls
              .configuration-dropdown__button#room(data-id='room' data-type='dec') -
              .configuration-dropdown__counter#room_field 0
              .configuration-dropdown__button(data-id='room' data-type='inc') +
          .configuration-dropdown__item#config_bad 
            .configuration-dropdown__option Кровати
            .configuration-dropdown__controlls
              .configuration-dropdown__button#bad(data-id='bad' data-type='dec') -
              .configuration-dropdown__counter#bad_field 3
              .configuration-dropdown__button(data-id='bad' data-type='inc') +
          .configuration-dropdown__item#config_badroom 
            .configuration-dropdown__option Ванные комнаты
            .configuration-dropdown__controlls
              .configuration-dropdown__button#badroom(data-id='badroom' data-type='dec') -
              .configuration-dropdown__counter#badroom_field 3
              .configuration-dropdown__button(data-id='badroom' data-type='inc') +
          .configuration-dropdown__footer
            .simple-button.simple-button--disabled Очистить
            .simple-button Применить


      .additions
        .additions__title Комфорт
        div Шумопоглощающие стены

      .additions.additions--home
        .additions__title Удобство
        div Окно в каждой из спален

      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br

  