@import '../../scss/colors.scss';

.bullet {
  list-style: none;
  line-height: 1.54em;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-end: 0;
  list-style-position: inside;

  &__element {
    position: relative;
    padding-left: 19px;
    padding-bottom: 14px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: -1px;
      width: 10px;
      height: 10px;
      background-color: $dark-shade-25;
      border-radius: 50%;
    }

    &--compacted {
      padding-bottom: 3px;
      padding-left: 14px;
    }

    &--yellow:link {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }

    &--blue::before {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    &--pink::before {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }

    &--black::before {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }
}
