@import 'colors.scss';
@import 'fonts.scss';

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: rgba(31, 32, 65, 0.75);
  font-family: Montserrat, Arial, sans-serif;
  margin-top: 3em;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $dark-shade-100;
}

h1 {
  font-family: Quicksand, Montserrat, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.25em;
  color: #1f2041;
}

h2 {
  font-family: Quicksand, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.5rem;
  color: #1f2041;
}

h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.1rem;
  color: $dark-shade-100;
  text-transform: uppercase;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

a {
  text-decoration: none;
  color: $dark-shade-50;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.body {
  &--kit {
    background-color: #e5e5e5;
  }
}