@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-regular.eot');
	src: 
		url('../fonts/montserrat/montserrat-regular.woff') format('woff'), 
		url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
		url('../fonts/montserrat/montserrat-regular.ttf') format('truetype'), 
		url('../fonts/montserrat/montserrat-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-bold.eot');
	src: 
		url('../fonts/montserrat/montserrat-bold.woff') format('woff'), 
		url('../fonts/montserrat/montserrat-bold.woff2') format('woff2'), 
		url('../fonts/montserrat/montserrat-bold.ttf') format('truetype'), 
		url('../fonts/montserrat/montserrat-bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src:
		url('../fonts/quicksand/quicksand-bold.woff2') format('woff2'),
		url('../fonts/quicksand/quicksand-bold.ttf') format('truetype'), 
		url('../fonts/quicksand/quicksand-bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../fonts/material-icons/material-icons-regular.woff2') format('woff2'),
    url('../fonts/material-icons/material-icons-regular.woff') format('woff'),
    url('../fonts/material-icons/material-icons-regular.ttf') format('opentype'),
    url('../fonts/material-icons/material-icons-regular.svg') format('svg');
}

@font-face {
  font-family: 'Font Awesome';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fontawesome/fa-brands-400.woff2') format('woff2'),
    url('../fonts/fontawesome/fa-brands-400.woff') format('woff'),
    url('../fonts/fontawesome/fa-brands-400.ttf') format('opentype'),
    url('../fonts/fontawesome/fa-regular-400.svg') format('svg');
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/open-sans-regular.svg') format('svg'),
       url('../fonts/open-sans/open-sans-regular.ttf') format('truetype'),
			 url('../fonts/open-sans/open-sans-regular.woff') format('woff'),
			 url('../fonts/open-sans/open-sans-regular.woff2') format('woff2'),
			 url('../fonts/open-sans/open-sans-regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/open-sans-bold.svg') format('svg'),
			 url('../fonts/open-sans/open-sans-bold.ttf') format('truetype'),
			 url('../fonts/open-sans/open-sans-bold.eot') format('embedded-opentype'),
			 url('../fonts/open-sans/open-sans-bold.woff') format('woff'),
			 url('../fonts/open-sans/open-sans-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}



