@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
  url("../fonts/montserrat-regular/Montserrat-Regular.ttf") format('opentype'),
  url('../fonts/montserrat-regular/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/montserrat-regular/Montserrat-Regular.woff') format('woff'),
  url('../fonts/montserrat-regular/Montserrat-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: local('Montserrat Bold'),
  url("../fonts/montserrat-bold/Montserrat-Bold.ttf") format('opentype'),
  url('../fonts/montserrat-bold/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/montserrat-bold/Montserrat-Bold.woff') format('woff'),
  url('../fonts/montserrat-bold/Montserrat-Bold.svg') format('svg');
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand/Quicksand-Bold.svg") format("svg"),
    url("../fonts/quicksand/Quicksand-Bold.ttf") format("truetype"),
    url("../fonts/quicksand/Quicksand-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../fonts/material_icons/MaterialIcons-Regular.woff2') format('woff2'),
    url('../fonts/material_icons/MaterialIcons-Regular.woff') format('woff'),
    url('../fonts/material_icons/MaterialIcons-Regular.ttf') format('opentype'),
    url('../fonts/material_icons/MaterialIcons-Regular.svg') format('svg');
}