@import 'colors.scss';
@import 'fonts.scss';
@import '../blocks/checkbox/checkbox.scss';
@import '../blocks/radio/radio.scss';
@import '../blocks/toggle/toggle.scss';
@import '../blocks/button/button.scss';
@import '../blocks/rounded-button/rounded-button.scss';
@import '../blocks/simple-button/simple-button.scss';
@import '../blocks/long-button/long-button.scss';
@import '../blocks/like/like.scss';
@import '../blocks/text-field/text-field.scss';
@import '../blocks/card-canvas/card-canvas.scss';
@import '../blocks/enter-card/enter-card.scss';
@import '../blocks/rating/rating.scss';

:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: rgba(31, 32, 65, 0.75);
    font-family: 'Mont', Arial;
    margin-top: 3em;
    font-size: .875rem;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.content {
    width: 230px;
    margin: 0 auto;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    color: #1F2041;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    color: #1F2041;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; 
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}