@import "../../scss/colors.scss";

.cards {
  max-width: 86%;
  margin: 150px auto;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;

  &__column {
    margin: 0 10px;
  }

  &__item {
    margin-bottom: 40px;
  }

  &__logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}
