extends ../main-layout/main-layout

include ../../blocks/find-apartments-card/find-apartments-card
include ../../blocks/register-card/register-card 
include ../../blocks/booking-card/booking-card 
include ../../blocks/enter-card/enter-card 
include ../../blocks/image-card/image-card 
include ../../blocks/kit-logo/kit-logo

block title
  title Card Kit

block header
  
block content
  .cards
    .cards__logo
      +kit-logo()
    .cards__wrapper
      .cards__column
        .cards__item
          +apartments()
        .cards__item
          +register-card()
      .cards__column
        .cards__item
          +booking-card()
        .cards__item
          +enter-card()
      .cards__column
        .cards__item
          .js-calendar
        .cards__item
          +image-card({
            image: "apartments-1.png",
            arrows: true,
            position: 888,
            lux: true,
            price: "9 990",
            rating: 5,
            comments: 145
          })
        .cards__item
          +image-card({
            image: "apartments-2.png",
            arrows: false,
            position: 840,
            lux: false,
            price: "9 990",
            rating: 4,
            comments: 65
          })

block footer
