include ../menu/menu
include ../button/button
include ../icon-button/icon-button
include ../rounded-button/rounded-button

mixin header({isLogged, buttons: {enter = "", register = ""} = {}, menu})
  header.header
    .header__container
      .header__logo
        .site-logo
      .header__menu
        +menu(menu)
      if isLogged
        .header__account Cosmin Negoita
      else
        .header__enter-panel
          .header__enter-button
            +rounded-button({text: enter})
          +button({text: register})
      .header__enter-toggle
        +icon-button({icon: "account_box"})
        +icon-button({icon: "menu", isMenu: true})