mixin header(obj)
  include ../menu/menu.pug 
  header.header
    .header__container
      .site-logo.header__logo
      .header__menu
        +menu(obj.menu)
      if obj.isLogged
        .header__account Cosmin Negoita
      else
        .header__enter-panel
          .header__enter-button
            button.rounded-button= obj.buttons.enter
          .button= obj.buttons.register
      .header__toggle
        button.menu-toggle#menu_toggle