include ../menu/menu
include ../button/button

mixin header({isLogged, buttons: {enter = "", register = ""} = {}, menu})
  header.header
    .header__container
      .header__logo
        .site-logo
      .header__menu
        +menu(menu)
      if isLogged
        .header__account Cosmin Negoita
      else
        .header__enter-panel
          .header__enter-button
            button.rounded-button= enter
          +button({text: register})
      .header__enter-toggle
        button.icon-button account_box
        button.icon-button.js-menu-button menu