mixin header(isLogged = false)
    include ../menu/menu.pug 
    header.header
      .header__container
        .site-logo 
        .header__menu
          +menu()
        if (isLogged)
            .header__account Cosmin Negoita
        else
            .header__enter-panel
                .rounded-button Login
                .button Register
        .header__toggle
            button.menu-toggle#menu_toggle