.hero-galery {
  display: flex;
  width: 100%;

  &__main-container {
    width: 68.125%;
  }

  &__right-container {
    display: flex;
    flex-flow: column wrap;
    width: 31.875%;
  }

  &__image {
    width: 100%;
  }

}
