mixin hero-galery(images)
  .hero-galery
    img(src=images[0] class='hero-galery__main-image')
    img(src=images[1] class='hero-galery__other-image')
    img(src=images[2] class='hero-galery__other-image')