// rooms
mixin dropdown(options = {})
    .configuration-dropdown
        if options.label !== undefined
            .configuration-dropdown__label= options.label
        .configuration-dropdown__header#dropdown_header 2 спальни, 2 кровати...
        .configuration-dropdown__content.configuration-dropdown__content--hide#dropdown_content
          .configuration-dropdown__item#config_room 
            .configuration-dropdown__option Спальни
            .configuration-dropdown__controlls
              .configuration-dropdown__button#room(data-id='room' data-type='dec') -
              .configuration-dropdown__counter#room_field 0
              .configuration-dropdown__button(data-id='room' data-type='inc') +
          .configuration-dropdown__item#config_bad 
            .configuration-dropdown__option Кровати
            .configuration-dropdown__controlls
              .configuration-dropdown__button#bad(data-id='bad' data-type='dec') -
              .configuration-dropdown__counter#bad_field 3
              .configuration-dropdown__button(data-id='bad' data-type='inc') +
          .configuration-dropdown__item#config_badroom 
            .configuration-dropdown__option Ванные комнаты
            .configuration-dropdown__controlls
              .configuration-dropdown__button#badroom(data-id='badroom' data-type='dec') -
              .configuration-dropdown__counter#badroom_field 3
              .configuration-dropdown__button(data-id='badroom' data-type='inc') +


// guests
mixin guest-dropdown()
  .configuration-dropdown
    .configuration-dropdown__label Гости
    .configuration-dropdown__header#guest_header Сколько гостей
    .configuration-dropdown__content.configuration-dropdown__content--hide
      .configuration-dropdown__item#config_guest
        .configuration-dropdown__option Взрослые
        .configuration-dropdown__controlls
          .configuration-dropdown__button.configuration-dropdown__button--disabled#guest(data-id='guest' data-type='dec') -
          .configuration-dropdown__counter#guest_field 0
          .configuration-dropdown__button(data-id='guest' data-type='inc') +
      .configuration-dropdown__item
        .configuration-dropdown__option Дети
        .configuration-dropdown__controlls
          .configuration-dropdown__button.configuration-dropdown__button--disabled#children(data-id='children' data-type='dec') -
          .configuration-dropdown__counter#children_field 0
          .configuration-dropdown__button(data-id='children' data-type='inc') +
      .configuration-dropdown__item
        .configuration-dropdown__option Младенцы
        .configuration-dropdown__controlls
          .configuration-dropdown__button.configuration-dropdown__button--disabled#baby(data-id='baby' data-type='dec') -
          .configuration-dropdown__counter#baby_field 0
          .configuration-dropdown__button(data-id='baby' data-type='inc') +
      .configuration-dropdown__footer
        .configuration-dropdown__footer-button.configuration-dropdown__footer-button--hide
          .simple-button.simple-button--disabled#clear_guest Очистить
        .simple-button#apply_guest Применить