include ../radio/radio
include ../toggle/toggle
include ../long-button/long-button
include ../account/account
include ../text-field/text-field

mixin register-card()
  .register-card
    h1.register-card__title Регистрация аккаунта
    form.register-card__form(action="/mock-address" method="post")
      .register-card__block
        .register-card__item
          +text-field({type: "text", placeholder: "Имя"})
        .register-card__item.register-card__item_without-margin
          +text-field({type: "text", placeholder: "Фамилия"})
        .register-card__radio
          +radio({items: [
            { label: "Мужчина", name: "gender", checked: true },
            { label: "Женщина", name: "gender", checked: false }
          ]})
      .register-card__birthday-block
        h3.register-card__subtitle Дата рождения
        +text-field({type: "text", placeholder: "ДД.ММ.ГГГГ", masked: true})
      .register-card__service
        h3.register-card__subtitle Данные для входа в сервис
        .register-card__item
          +text-field({type: "text", placeholder: "Email"})
        .register-card__item.register-card__item_without-margin
          +text-field({type: "password", placeholder: "Пароль"})
        .register-card__proposal
          +toggle("Получать спецпредложения")
      .register-card__main-button
        +long-button("Перейти к оплате")
    .register-card__block.register-card__block_margin-large
      +account({text: "Уже есть аккаунт на Toxin", buttonText: "Войти"})
